@value colors: "~styles/color.module.css";

@value sidebarBgc, sidebarColor from colors;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  .form {
    width: 550px;
    height: 330px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
}
