// flex
@mixin flexbox($flex-direction: row, $justify-content: flex-start, $align-items: center) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

// 文本超出显示省略号
@mixin overflowEllipsis($line: 1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
