// 全局调色盘
$blue: #457fff;
$green: #64c555;
$yellow: #f8e71c;
$orange: #f4be4f;
$red: #ea6b5e;
$purple: #bd10e0;
$light-blue: #1990ff;
$grey: #a9a9a9;
$black: #070707;
$white: #fff;

$sidebar-bgc: #4d474b;
$sidebar-color: #a5a4a5;
$chatroom-list-bgc: #fbfbfb;
$chatroom-list-bgc-em: #f1f1f1;
$chatting-panel-bgc: #f3f3f3;
$border: 1px solid #e6e6e6;
$message-item-bg: #f1f1f1;
$message-item-bg-me: #a9e97a;
$message-item-shadow: 3px 3px 10px rgba(0, 0, 0, 0.117647);

// 字体设置
$font-color: #252525;
$font-color2: #585858;
$font-color3: #8a8a8a;
$font-color4: #bcbcbc;
$font-color4: #e3e3e3;

$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-semibold: 600;

// 距离设置
$dist-small: 8px;
$dist-middle: 16px;
$dist-large: 24px;
$dist-huge: 32px;

// 效果设置
$default-transition: all .5s;
$main-border-radius: 4px;
