body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
    background: url("assets/imgs/bg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 1000px;
    min-height: 750px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
