.container {
  background-color: $sidebar-bgc;
  color: $sidebar-color;
  border-radius: $main-border-radius 0 0 $main-border-radius;
  flex-basis: 68px;
  width: 68px;
  flex-grow: 0;
  flex-shrink: 0;
}
